@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #212945;
}

a:hover {
  text-decoration: underline;
}
